.nav
{
    background:white;
    
    border-bottom:1px solid black;
    height:10%;
    width:10px;
}
#img1
{
    display: inline-block;
    vertical-align: center;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    margin-top: 0px; 
    position: relative;
    left: 600px;
}

.container{
    width: 100%;
    height:85%;
    
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.left
{
    display:inline;
    text-align: left;
width:35%;
height:60%;
position: relative;
left:140px;
top:75px;
font-family: Arial, Helvetica, sans-serif;
background: white;
}
.right
{
width:30%;
height:150px;
margin:auto;
position: relative;
bottom:190px;
background:white;

}
form{
    padding:1px 10px;
    border:1px solid gray;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.footer{
    width:100%;
    height:5%;
    background:white;
    position: relative;
    top:100px;
    
}
.footer li{
    list-style-type: none;
    display:inline-block;
    margin:25px 10px 0px;
    padding:5px;
}
input{
    padding:3px;
    margin:3px;
    border-radius:8px;
    color: grey;
    height:35px;
}
input[type=Register]{
    width:80%;
    height: 30px;
    border-radius: 5px;
    background-color: green;
    cursor:pointer;
    font-weight:bold;
    color:white;
}
h1,h4{
    text-align: left;
    
}
li{
    color:blue;
}
h4{
    color:grey;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    border-bottom: 1px solid grey;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    ; 
}
.same{
    display: flex;
    flex-direction: row;
    align-items:center;
}
h3{
    font-size: 15px;
}