.container{
    width: 80%;
    height: 90%;
    position: relative;
    right: 30px;
    background: white;
    display: flex;
    flex-direction: column;
}
.top{
    width: 100%;
    height: 10%;
    background: white;
    border-bottom: 0.5px solid rgb(145, 138, 138);
}
.top ul{
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 50px;
}
.top li{
    float: right;

}
.top ul li a{
    background: white;
    text-decoration: none;
    color: black;
    width: 130px;
    display: block;
    text-align: center;
}
.logo img{
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
    width: 80px;
    left: 0;
    top: 0;
    height: 50px;
}
.search{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    left:90px;
  }
.search input#search{
    width: 300px;
    height: 50px;
    background:white;
    border: 1px solid grey;
    font-size: 10pt;
    float: left;
    color: black;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
.main{
    position: relative;
    order: 1;
    top:0;
    right:0;
    box-sizing: border-box;
    padding: 40px;
    border: 1px solid rgb(138, 145, 145);
    width: 470px;
    height: auto;
    background-size: cover;
    background-position: center
    right: 0;
    background: white;
    justify-content: center;
    margin: 50px 500px;
    display: flex;
    flex-direction: column;
}
button.social{
    position: relative;
    margin-bottom: 10px;
    width: 380px;
    height: 70px;
    border: 1px solid grey;
    border-radius: 5px;
    color #fff;
    font-weight:500;
    cursor: pointer;
    font-family: sans-serif;
    transition: 0.2s ease;
    font-size: 20px;


}
#fb{
    background: blue;
    color: white;
}
#google{
    background: white;
}
#login{
    background: orangered;
    color: white;
}
.e{
    height: 70px;
    width: 380px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}
#signin{
    background: white;
    border: 1px solid orangered;
    border-radius: 2px;
    color: orangered;
    right: -10px;
}
.same{
    display: flex;
    flex-direction: row;
}
.same a{
    position: relative;
    left: 150px;
    bottom: 20px;
}
h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
#signin{
    position: relative;
    left: 60px;
    border-radius: 5px;
    width: 100px;
    height: 40px;

}
.bottom{
    display: flex;
    order: 2;
    flex-direction: row;
    flex-grow: inherit;
    width: 80%;
    position: relative;
    left: 250px;
    bottom: 30px;
    height: auto;
}
.bot{
    padding: 20px;
}
.footer{
    display: flex;
    flex-direction: row;
    order: 3;
    width: 90%;
    height: 10%;
    position: relative;
    left: 50px;
}

#left{
    position: relative;
    left: 900px;
}
.or{
    position: relative;
    left:170px;
}